body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: small; }

form {
  background-color: #eee;
  border: 20px #f5f5f5 solid;
  padding: 10px; }
  form p {
    text-align: center; }

#wrapper {
  width: 760px;
  margin: auto;
  position: relative; }

#header {
  width: 760px;
  height: 242px;
  margin: auto;
  position: relative;
  background: url('/images/banner.png') no-repeat 0 50px; }
  #header > a {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #b12321;
    text-decoration: none;
    display: block;
    width: 740px;
    height: 222px; }
  #header > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: #444243; }

#content {
  padding: 10px 20px;
  margin-right: 240px; }

#sidebar {
  width: 200px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0; }
  #sidebar img {
    float: left; }
  #sidebar p {
    text-align: justify; }

.formError {
  color: red; }

.notice {
  border: 1px solid green;
  background-color: lightCyan;
  padding: 5px; }
